.micro-goal-input {
  padding-left: 7px;

  .heading {
    color: var(--mainColor-1);
    margin-bottom: 70px;
  }

  .guideline {
    line-height: 16px;
    margin-bottom: 30px;
  }

  .input-area {
    background-color: white;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .time-input {
      font-size: 1.25rem;
    }
    
    .place-input {
      height: 70px;
    }
  }

  
}